@charset "UTF-8";

  body {
      background: #edf0f1;
  }

  body, input, button {
    font-family: 'Roboto', sans-serif;
  }

  @media (min-width: 700px) {
    body {
      padding: 80px 0 0 0;
    }
  }

  @media (max-width: 700px) {
    body {
      padding: 30px 0 0 0;
    }
  }

  .noFill {
    fill: none;
  }

  .btn-auth-login {
    color: #505f79;
    background-color: #edf0f1;

    border: .2rem solid #505f79;
    border-radius: 12rem;
    padding: 1.05rem 2.75rem;

    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;

    margin-top: 5%;
  }

  .btn-auth-login:hover {
    color: #000000;

    transition: color .3s,border .3s;
    -webkit-transition: color .3s,border .3s;
    -moz-transition: color .3s,border .3s;
    -ms-transition: color .3s,border .3s;
    -o-transition: color .3s,border .3s;
  }

  .auth-container {
    text-align: center;
  }

  .auth-container h1 {
    color: #505f79;
  }

  header {
    width: 100%;
    height: 80px;
    padding: 15px;
    position: fixed;
    left: 0;
    z-index: 5;
    background: #0065ff;
    box-shadow: 0px 2px 4px rgb(44, 62, 80, 0.15);
  }

  @media (min-width: 700px) {
    header {
      top: 0;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  @media (max-width: 700px) {
    header {
      bottom: 0;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }

  header input {
    width: 100%;
    height: 50px;
    float: left;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 15px;
    font-weight: 400;

    /* look at how the input's text overflows to the left.
    Gives a better user experience then setting the padding only */
    text-indent: 18px;

    padding: 0 60px 0 0;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 8px;
    box-shadow: none;
    outline: none;

    -webkit-apprearance: none;
    -moz-apprearance:none;
    -ms-appearance:none;
    -o-appearance: none;
    appearance: none;
  }

  header input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }

  header input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }

  header input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }

  header input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }

  header button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    border: 0px;
    border-radius: 25px;
    background: #fff;
    box-shadow: none;
    outline: none;


    -webkit-apprearance: none;
    -moz-apprearance:none;
    -ms-appearance:none;
    -o-appearance: none;
    appearance: none;
  }

  header button svg {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
  }

  header button svg .fill {
    fill: #505f79;
  }

  footer {
    display: inline-flex;
    width: 100%;
    height: 30px;
    padding: 10px;
    position: fixed;
    left: 0;
    z-index: 5;
    background-color: #dcdcdc;
    box-shadow: 0px 2px 4px rgb(44, 62, 80, 0.15);
  }

  footer button {
    width: 70px;
    height: 25px;
    float: right;
    top: 50%;
    left: 50%;
    border: none;
    text-transform: uppercase;

    color: #cacaca;
    background-color: #edf0f1;

    border: .15rem solid #cacaca;
    border-radius: 3rem;

    font-size: .8rem;
    font-weight: 300;
    text-transform: uppercase;

    margin-left: 10px;
  }

  footer button:hover {
    color: #505f79;
    border: .15rem solid #505f79;

    transition: color .3s,border .3s;
    -webkit-transition: color .3s,border .3s;
    -moz-transition: color .3s,border .3s;
    -ms-transition: color .3s,border .3s;
    -o-transition: color .3s,border .3s;
  }

  footer .nickname {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-top: -3px;
  }

  footer .nickname span {
    color: #0065ff;
  }

  @media (min-width: 700px) {
    footer {
      bottom: 0;
    }

    footer button {
      margin: -8px 0 0 -8px;
    }
  }

  @media (max-width: 700px) {
    footer {
      top: 0;
    }

    footer button {
      margin: -8px 0 0 -8px;
    }
  }

  .container {
    width: 100%;
    float: left;
    padding: 15px;
  }

  ul.todo {
    width: 100%;
    float: left;
  }

  ul.todo li {
    width: 100%;
    min-height: 50px;
    float: left;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgb(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
    position: relative;

    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
  }

  ul.todo li span {
    display: block;
    color: #a9a9a9;
    font-size: x-small;
  }

  ul.todo li:last-of-type {
    margin: 0; /* the last item on the list will have no bottom margin */
  }

  ul.todo li .buttons {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
  }

  ul.todo li .buttons button {
    width: 50px;
    height: 50px;
    float: left;
    top: 25%;
    background: none;
    position: relative;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    -webkit-apprearance: none;
    -moz-apprearance:none;
    -ms-appearance:none;
    -o-appearance: none;
    appearance: none;
  }

  ul.todo li .buttons button:last-of-type::before {
    content: "";
    width: 1px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 0;
    background: #edf0f1;
  }

  ul.todo li .buttons button svg {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
  }

  ul.todo li .buttons button svg .fill {
    -webkit-transition: fill 0.2s ease;
    -moz-transition: fill 0.2s ease;
    -ms-transition: fill 0.2s ease;
    -o-transition: fill 0.2s ease;
    transition: fill 0.2s ease;
  }

  ul.todo li .buttons button.delete svg .fill {
    fill: #c0cecb;
  }

  ul.todo li .buttons button.delete:hover svg .fill {
    fill: #e85656;
  }

  ul.todo li .buttons button.complete svg .fill {
    fill: #505f79;
  }

  ul.todo li .buttons button.complete svg {
    border-radius: 11px;
    border: 1.5px solid #505f79;

    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
  }

  ul.todo#completedTodos li .buttons button.complete svg {
    background: #505f79;
    border: 0px;
  }

  ul.todo:not(#completedTodos) li .buttons button.complete:hover svg {
    background: #505f79;
  }

  ul.todo:not(#completedTodos) li .buttons button.complete:hover svg .fill {
    fill: #fff;
  }

  ul.todo#completedTodos li .buttons button.complete svg .fill {
    fill: #fff;
  }

  ul.todo#completedTodos {
    position: relative;
    padding: 60px 0 0 0;
  }

  ul.todo#completedTodos:before {
    content: "";
    width: 150px;
    height: 1px;
    background: #d8e5e0;
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -75px;
  }

  ul.todo#todoList:empty:after {
    content: 'You have nothing to do';
    margin: 15px 0 0 0;
  }

  ul.todo#completedTodos:empty:after {
    content: 'No task were completed yet.';
  }

  ul.todo#todoList:after,
  ul.todo#completedTodos:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #aaa;
  }


/* Item url styles */

  ul.todo mark {
    background-color: #fdffb6;
  }

  ul.todo a {
    color: #0065ff;
  }

  ul.todo a:visited {
    color: #000000;
  }
